import {
  Interceptor,
  OnInterception,
  Request,
  Response
} from '@singular/core';

@Interceptor({
  name: '{{componentName}}',
  intercepts: 'all'
})
export class {{componentNamePascalCased}}Interceptor implements OnInterception {

  onInterception(body: any, req: Request, res: Response): any { }

}
