import { Plugin, PluginHooks, PluginLogger, PluginDataBeforeLaunch } from '@singular/core';

@Plugin({
  name: '{{componentName}}'
})
export class {{componentNamePascalCased}}Plugin implements PluginHooks.BeforeLaunch {

  constructor(config?: any) { }

  beforeLaunch(log: PluginLogger, data: PluginDataBeforeLaunch): void { }

}
