import {
  Router,
  OnInjection,
  OnConfig,
  OnInit,
  ServerConfig,
  route,
  Request,
  Response
} from '@singular/core';

@Router({
  name: '{{componentName}}',
  routes: [ ]
})
export class {{componentNameCamelCased}}Router implements OnInjection, OnConfig, OnInit {

  private config: ServerConfig;

  onInjection(services: any): void { }

  onConfig(config: ServerConfig): void {

    this.config = config;

  }

  onInit(): void { }

}
