/************************************************************************
**** Use this template to write tests for a specific server feature. ****
*************************************************************************
**** The log parser is a great tool to read the server logs and is ******
**** available globally as 'logs'. **************************************
*************************************************************************
**** A pre-configured instance of Got is also globally available as *****
**** 'request' which can be used to send requests to the server. ********
*************************************************************************
**** 'chai-as-promised' is also installed and can be used to improve ****
**** async 'expect' statements. *****************************************
************************************************************************/

import { expect } from 'chai';

describe('Feature', function() {

  it('should pass this test', async function() {

    expect(true).to.be.true;

  });

});
