import { Singular } from '@singular/core';
import tsconfig from './tsconfig.json';
import { devConfig, prodConfig } from './server.config';

Singular
.registerAliases(tsconfig.compilerOptions.paths)
.config('dev', devConfig)
.config('prod', prodConfig)
.launch();
