import { ServerConfig } from '@singular/core';

export const devConfig: ServerConfig = {
  port: 5000,
  logRequestHeaders: true,
  logResponseErrors: true
};

export const prodConfig: ServerConfig = {
  https: true,
  httpsPort: 5001,
  httpsKey: 'path/to/key.pem',
  httpsCert: 'path/to/cert.pem',
  enableCors: true,
  logRequestHeaders: true,
  logResponseErrors: true
};
